In [ ]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [ ]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [ ]:
data_folder = "/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630"

In [ ]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)

/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [ ]:
seoul_raw = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')

In [ ]:
seoul_raw = seoul_raw.loc[seoul_raw['상권업종중분류코드'] == 'Q12']
seoul_raw.shape

(20832, 39)

In [ ]:
seoul_raw['상호명'] = seoul_raw.상호명.strip()

AttributeError: ignored

In [ ]:
df = seoul_raw[['상호명','지점명','시도명','시군구명','도로명주소']]
df.shape

(20832, 5)

In [ ]:

df_st = df[df['상호명'].str.contains('STAR', case=False)]
print(df_st)

                    상호명  지점명    시도명 시군구명               도로명주소
173270  STARBUCKSCOFFEE  NaN  서울특별시  서초구  서울특별시 서초구 신반포로 176

In [ ]:
df_ediya = df[df['상호명'].str.contains('이디', case=False)]
print(df_ediya)

               상호명        지점명    시도명  시군구명                  도로명주소
1272         이디야커피       신길역점  서울특별시  영등포구    서울특별시 영등포구 영등포로 353
1411         이디야커피       라이프점  서울특별시  영등포구      서울특별시 영등포구 63로 40
2433    이디야커피양재AT점      양재AT점  서울특별시   서초구        서울특별시 서초구 동산로 3
2690         이디아커피        NaN  서울특별시   강동구     서울특별시 강동구 성내로6길 20
2785         이디야커피        시흥점  서울특별시   금천구      서울특별시 금천구 금하로 750
...            ...        ...    ...   ...                    ...
310131       이디야커피      강남율현점  서울특별시   강남구    서울특별시 강남구 밤고개로21길 8
310422       이디야커피  신사동고개삼거리점  서울특별시   은평구        서울특별시 은평구 갈현로 1
311002     뉴욕쟁이디저트        성내점  서울특별시   강동구    서울특별시 강동구 성내로15길 68
311852       이디야커피       양원역점  서울특별시   중랑구  서울특별시 중랑구 양원역로14가길 24
314146       이디야커피       곰달래점  서울특별시   강서구      서울특별시 강서구 곰달래로 52

[478 rows x 5 columns]

In [ ]:
df_b = df[df['상호명'].str.contains('빈', case=False)]
print(df_b)

                상호명           지점명    시도명  시군구명                  도로명주소
28              커피빈   코리아대학로대명거리점  서울특별시   종로구       서울특별시 종로구 대명길 25
316     커피빈코리아낙성대역점      코리아낙성대역점  서울특별시   관악구   서울특별시 관악구 남부순환로 1909
383          빈트리망원점           망원점  서울특별시   마포구       서울특별시 마포구 망원로 22
1470            커피빈  코리아강남역랭기지타워점  서울특별시   강남구    서울특별시 강남구 테헤란로4길 28
1491            커피빈      코리아청담성당점  서울특별시   강남구      서울특별시 강남구 삼성로 716
...             ...           ...    ...   ...                    ...
313990          빈스밀           NaN  서울특별시   용산구    서울특별시 용산구 한강대로98길 9
314589          와플빈           NaN  서울특별시   구로구   서울특별시 구로구 서해안로30길 16
314786       빈티지팩토리           NaN  서울특별시  동대문구  서울특별시 동대문구 신이문로23길 19
315098      카페조이빈대림           NaN  서울특별시  영등포구    서울특별시 영등포구 시흥대로 629
315705          빈트리           NaN  서울특별시   종로구   서울특별시 종로구 새문안로5가길 13

[499 rows x 5 columns]

In [ ]:
df_p = df[df['상호명'].str.contains('pai', case=False)]
print(df_p)

                   상호명  지점명    시도명 시군구명                  도로명주소
209469     PAIKSCOFFEE  NaN  서울특별시  송파구  서울특별시 송파구 올림픽로35길 104
289562  빽다방PAIKSCOFFEE  NaN  서울특별시  마포구    서울특별시 마포구 마포대로4길 16

In [ ]:
df = df[df['상호명'].isin(['스타벅스','STARBUCKSCOFFEE', '커피빈','커피빈코리아낙성대역점','COFFEEBEAN영동2교사거리점','이디야','이디야커피','이디야커피양재AT점','EDIYACOFFEE','EDIYACOFFEESHOP','ediyacoffee','EDIYA카페','백다방','빽다방','PAIKSCOFFEE','빽다방PAIKSCOFFEE'])]
print(df.shape)
df.tail()

(925, 5)

          상호명       지점명    시도명 시군구명               도로명주소
313072   스타벅스     대치한티점  서울특별시  강남구   서울특별시 강남구 선릉로 324
313415   스타벅스  태릉입구역DT점  서울특별시  노원구   서울특별시 노원구 화랑로 469
313431    빽다방     행당무학점  서울특별시  성동구   서울특별시 성동구 행당로 121
314146  이디야커피      곰달래점  서울특별시  강서구   서울특별시 강서구 곰달래로 52
315403   스타벅스    명일이마트점  서울특별시  강동구  서울특별시 강동구 동남로75길 5

# 서울 데이터에서 4개 매장 정보 추출하기

In [ ]:
shop_list = ['스타벅스','STARBUCKSCOFFEE', '커피빈','커피빈코리아낙성대역점','COFFEEBEAN영동2교사거리점','이디야','이디야커피','이디야커피양재AT점','EDIYACOFFEE','EDIYACOFFEESHOP','ediyacoffee','EDIYA카페','백다방','빽다방','PAIKSCOFFEE','빽다방PAIKSCOFFEE']
 
for file in glob(f'{data_folder}/*.csv'):
    file = pd.read_csv(file)
    for i in range(len(shop_list)):
        if i == df['상호명'[i]:
             
seoul_raw = seoul_raw.loc[seoul_raw['상권업종중분류코드'] == 'Q12']
df = seoul_raw[['상호명','지점명','시도명','시군구명','도로명주소']]

KeyError: ignored

# 선생님 코드

 - 서울 데이터에서 4개 매장 정보 추출

In [ ]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv')
df = df[df.상권업종중분류코드 == 'Q12']
df = df[['상호명','지점명','시도명','시군구명','도로명주소']]
df.shape

(20832, 5)

In [ ]:
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False, na=False)]
sb.tail

<bound method NDFrame.tail of                 상호명       지점명    시도명  시군구명                 도로명주소
1738           스타벅스    동숭로아트점  서울특별시   종로구     서울특별시 종로구 동숭길 110
2766    스타벅스남부터미널2점   남부터미널2점  서울특별시   서초구     서울특별시 서초구 효령로 274
3785           스타벅스       당산점  서울특별시  영등포구     서울특별시 영등포구 양평로 64
3933           스타벅스     가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길 94
3995    스타벅스미아사거리역점   미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로 32
...             ...       ...    ...   ...                   ...
313415         스타벅스  태릉입구역DT점  서울특별시   노원구     서울특별시 노원구 화랑로 469
313555     스타벅스삼성교점      삼성교점  서울특별시   강남구  서울특별시 강남구 영동대로86길 12
313843      스타벅스목동점       목동점  서울특별시   양천구     서울특별시 양천구 목동서로 67
315403         스타벅스    명일이마트점  서울특별시   강동구    서울특별시 강동구 동남로75길 5
315451   스타벅스조선호텔후문       NaN  서울특별시    중구    서울특별시 중구 남대문로7길 19

[489 rows x 5 columns]>

In [ ]:
sb2 = df[df.지점명.str.contains('스타벅스|STARBUCKS', case=False, na=False)]
sb2.tail

<bound method NDFrame.tail of Empty DataFrame
Columns: [상호명, 지점명, 시도명, 시군구명, 도로명주소]
Index: []>

In [ ]:
cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False, na=False)]
cb.tail

<bound method NDFrame.tail of                 상호명           지점명    시도명  시군구명                 도로명주소
28              커피빈   코리아대학로대명거리점  서울특별시   종로구      서울특별시 종로구 대명길 25
316     커피빈코리아낙성대역점      코리아낙성대역점  서울특별시   관악구  서울특별시 관악구 남부순환로 1909
1470            커피빈  코리아강남역랭기지타워점  서울특별시   강남구   서울특별시 강남구 테헤란로4길 28
1491            커피빈      코리아청담성당점  서울특별시   강남구     서울특별시 강남구 삼성로 716
1506            커피빈      코리아청담에스점  서울특별시   강남구    서울특별시 강남구 압구정로 461
...             ...           ...    ...   ...                   ...
289153          커피빈   코리아신촌현대백화점점  서울특별시  서대문구     서울특별시 서대문구 신촌로 83
296479   커피빈코리아이태원점       코리아이태원점  서울특별시   용산구    서울특별시 용산구 이태원로 189
298309          커피빈    코리아을지로입구역점  서울특별시    중구    서울특별시 중구 남대문로10길 6
308099          커피빈           길동별  서울특별시   강동구  서울특별시 강동구 양재대로112길 3
308762          커피빈     서초우성아파트앞점  서울특별시   서초구    서울특별시 서초구 사임당로 171

[169 rows x 5 columns]>

In [ ]:
ed = df[df.상호명.str.contains('이디야|EDIYA', case=False, na=False)]
ed.tail

<bound method NDFrame.tail of                상호명        지점명    시도명  시군구명                  도로명주소
1272         이디야커피       신길역점  서울특별시  영등포구    서울특별시 영등포구 영등포로 353
1411         이디야커피       라이프점  서울특별시  영등포구      서울특별시 영등포구 63로 40
2433    이디야커피양재AT점      양재AT점  서울특별시   서초구        서울특별시 서초구 동산로 3
2785         이디야커피        시흥점  서울특별시   금천구      서울특별시 금천구 금하로 750
4498         이디야커피      개봉중앙점  서울특별시   구로구     서울특별시 구로구 개봉로3길 26
...            ...        ...    ...   ...                    ...
308958       이디야커피   장한평군자초교점  서울특별시  동대문구    서울특별시 동대문구 한천로2길 53
310131       이디야커피      강남율현점  서울특별시   강남구    서울특별시 강남구 밤고개로21길 8
310422       이디야커피  신사동고개삼거리점  서울특별시   은평구        서울특별시 은평구 갈현로 1
311852       이디야커피       양원역점  서울특별시   중랑구  서울특별시 중랑구 양원역로14가길 24
314146       이디야커피       곰달래점  서울특별시   강서구      서울특별시 강서구 곰달래로 52

[440 rows x 5 columns]>

In [ ]:
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False, na=False)]
bd.tail

<bound method NDFrame.tail of                 상호명       지점명    시도명 시군구명                 도로명주소
7607      빽다방공덕새창로점    공덕새창로점  서울특별시  마포구    서울특별시 마포구 새창로 15-1
8565       빽다방서초우성점     서초우성점  서울특별시  서초구    서울특별시 서초구 사임당로 181
19901   빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구   서울특별시 노원구 한글비석로 235
26972      빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길 3
27346     빽다방신림역1호점    신림역1호점  서울특별시  관악구  서울특별시 관악구 남부순환로 1592
...             ...       ...    ...  ...                   ...
311901          빽다방    화양사거리점  서울특별시  성동구  서울특별시 성동구 아차산로17길 57
312481          빽다방     강동구청점  서울특별시  강동구     서울특별시 강동구 성내로3길 1
312817          빽다방     홍대거리점  서울특별시  마포구    서울특별시 마포구 어울마당로 75
312959          빽다방   신용산해링턴점  서울특별시  용산구     서울특별시 용산구 서빙고로 17
313431          빽다방     행당무학점  서울특별시  성동구     서울특별시 성동구 행당로 121

[127 rows x 5 columns]>

In [ ]:
len(sb), len(cb), len(ed), len(bd)

(489, 169, 440, 127)

In [ ]:
starbucks = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
coffeebean = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
ediya = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
paik = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])

In [ ]:
for filename in glob(f'{data_folder}/*.csv'):
    df = pd.read_csv(filename)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False, na=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False, na=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False, na=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False, na=False)]

    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

In [ ]:
starbucks.tail()

        상호명      지점명   시도명     시군구명                     도로명주소
72684  스타벅스     충북대점  충청북도  청주시 서원구     충청북도 청주시 서원구 내수동로 113
73841  스타벅스  청주율량DT점  충청북도  청주시 청원구  충청북도 청주시 청원구 충청대로107번길 8
79073  스타벅스    충주연수점  충청북도      충주시         충청북도 충주시 계명대로 227
79357  스타벅스    충주성서점  충청북도      충주시          충청북도 충주시 예성로 151
84354  스타벅스      NaN  충청북도      음성군       충청북도 음성군 원남면 보천로 65

In [ ]:
len(starbucks), len(coffeebean), len(ediya), len(paik)

(1547, 293, 2120, 609)

In [ ]:
result_dir = '/content/mnt/MyDrive/results/CoffeeIndex'

In [ ]:
!mkdir -p $result_dir

In [ ]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디아.csv', index=False)
paik.to_csv(f'{result_dir}/백다방.csv', index=False)