In [1]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [3]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [4]:
data_folder = "/content/mnt/MyDrive/results/CoffeeIndex"

In [5]:
from glob import glob

sb = pd.read_csv(f'{data_folder}/스타벅스.csv') # 스벅데이터
cb = pd.read_csv(f'{data_folder}/커피빈.csv')
ed = pd.read_csv(f'{data_folder}/이디아.csv')
bd = pd.read_csv(f'{data_folder}/백다방.csv')

sb.시군구명.nunique(), cb.시군구명.nunique(),ed.시군구명.nunique(), bd.시군구명.nunique()
# df = pd.concat([sb, cb, ed, bd])

(174, 87, 219, 152)

# ID 필드 도출

In [6]:
tmp_gu_dict = {
    '수원': ['장안구', '권선구', '팔달구', '영통구'], 
    '성남': ['수정구', '중원구', '분당구'], 
    '안양': ['만안구', '동안구'], 
    '안산': ['상록구', '단원구'], 
    '고양': ['덕양구', '일산동구', '일산서구'], 
    '용인': ['처인구', '기흥구', '수지구'], 
    '청주': ['상당구', '서원구', '흥덕구', '청원구'], 
    '천안': ['동남구', '서북구'], 
    '전주': ['완산구', '덕진구'], 
    '포항': ['남구', '북구'], 
    '창원': ['의창구', '성산구', '진해구', '마산합포구', '마산회원구']
}

In [8]:
sb[sb.시도명.str.contains('세종|제주')].head(12).tail()

       상호명         지점명      시도명     시군구명                       도로명주소
1307  스타벅스      세종첫마을점  세종특별자치시  세종특별자치시   세종특별자치시 세종특별자치시 한누리대로 169
1308  스타벅스         NaN  세종특별자치시  세종특별자치시     세종특별자치시 세종특별자치시 도움5로 19
1309  스타벅스  세종충남대학교병원점  세종특별자치시  세종특별자치시     세종특별자치시 세종특별자치시 보듬7로 20
1450  스타벅스      제주송악산점  제주특별자치도     서귀포시  제주특별자치도 서귀포시 대정읍 형제해안로 322
1451  스타벅스      성산일출봉점  제주특별자치도     서귀포시  제주특별자치도 서귀포시 성산읍 일출로 284-5

In [9]:
metro_list = ['서울특별시','부산광역시','대구광역시','인천광역시','대전광역시','광주광역시','울산광역시']

def get_ID(df):
    si_name = [None] * len(df)

    for i in df.index:
        if df.시도명[i] in metro_list:
            if len(df.시군구명[i]) == 2:
                si_name[i] = df.시도명[i][:2] + ' ' + df.시군구명[i]
            else:
                si_name[i] = df.시도명[i][:2] + ' ' + df.시군구명[i][:-1]     # 긴 구 이름에서 '구' 제외
        else:
            si_len = len(df.시군구명[i].split())
            if si_len == 1:
                if df.시군구명[i][:-1] == '고성':
                    if df.시도명[i] == '강원도':
                        si_name[i] = '고성(강원)'
                    else:
                        si_name[i] = '고성(경남)'
                elif df.시군구명[i][:-1] in tmp_gu_dict.keys():  # 시군구명에 시 이름만 있는 것이 있음
                    if len(df.도로명주소[i].split()[2]) == 5:
                        si_name[i] = df.시군구명[i][:2] + ' ' + df.도로명주소[i].split()[2][2:-1]
                    else:
                        si_name[i] = df.시군구명[i][:2] + ' ' + df.도로명주소[i].split()[2][:-1]
                elif df.시군구명[i][:2] == '세종':
                    si_name[i] = '세종'
                else:
                    si_name[i] = df.시군구명[i][:-1]

            else:
                _, admingu = df.시군구명[i].split()
                for key, values in tmp_gu_dict.items():
                    if admingu in values:
                        if len(admingu) == 2:
                            si_name[i] = key + ' ' + admingu
                        elif admingu in ['마산합포구', '마산회원구']:
                            si_name[i] = key + ' ' + admingu[2:-1]
                        else:
                            si_name[i] = key + ' ' + admingu[:-1]

    return si_name

In [10]:
sb['ID'] = get_ID(sb)
sb.head()

           상호명        지점명  시도명 시군구명                   도로명주소      ID
0   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40      강릉
1         스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153  고성(강원)
2  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318      춘천
3         스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55      춘천
4  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88      속초

In [12]:
print(np.sort(sb.ID.unique()))
sb_set = set(sb.ID.unique())
print(len(sb_set))

['가평' '강릉' '거제' '경산' '경주' '계룡' '고령' '고성(강원)' '고양 덕양' '고양 일산동' '고양 일산서'
 '고창' '공주' '과천' '광명' '광양' '광주' '광주 광산' '광주 남구' '광주 동구' '광주 북구' '광주 서구'
 '구리' '구미' '군산' '군포' '김천' '김포' '김해' '나주' '남양주' '논산' '당진' '대구 남구' '대구 달서'
 '대구 달성' '대구 동구' '대구 북구' '대구 서구' '대구 수성' '대구 중구' '대전 대덕' '대전 동구' '대전 서구'
 '대전 유성' '대전 중구' '동두천' '동해' '목포' '무안' '문경' '밀양' '보령' '보은' '부산 강서' '부산 금정'
 '부산 기장' '부산 남구' '부산 동구' '부산 동래' '부산 부산진' '부산 북구' '부산 사상' '부산 사하' '부산 서구'
 '부산 수영' '부산 연제' '부산 영도' '부산 중구' '부산 해운대' '부안' '부천' '사천' '산청' '서귀포' '서산'
 '서울 강남' '서울 강동' '서울 강북' '서울 강서' '서울 관악' '서울 광진' '서울 구로' '서울 금천' '서울 노원'
 '서울 도봉' '서울 동대문' '서울 동작' '서울 마포' '서울 서대문' '서울 서초' '서울 성동' '서울 성북' '서울 송파'
 '서울 양천' '서울 영등포' '서울 용산' '서울 은평' '서울 종로' '서울 중구' '서울 중랑' '서천' '성남 분당'
 '성남 수정' '성남 중원' '세종' '속초' '수원 권선' '수원 영통' '수원 장안' '수원 팔달' '순천' '시흥' '아산'
 '안동' '안산 단원' '안산 상록' '안성' '안양 동안' '안양 만안' '양산' '양주' '양평' '여수' '여주' '영덕'
 '영양' '예산' '오산' '용인 기흥' '용인 수지' '용인 처인' '울산 남구' '울산 동구' '울산 북구' '울산 울주'
 '울산 중구' '원주' '음성' '의왕' '의정부' '이천' '익산' '인제' '인천 강화' '인천 계양' '인천 남동'
 '인천 동구' '인천 미추홀' '인천 부평' '인천 서구' '인천 연수' '인천 옹진' '인천 중구' '임실' '전주 덕진'
 '전주 완산' '제주' '제천' '증평' '진주' '창녕' '창원 성산' '창원 의창' '창원 진해' '창원 합포' '창원 회원'
 '천안 동남' '천안 서북' '청도' '청송' '청양' '청주 상당' '청주 서원' '청주 청원' '청주 흥덕' '춘천' '충주'
 '태백' '통영' '파주' '평창' '평택' '포천' '포항 남구' '포항 북구' '하남' '하동' '함양' '홍천' '화성'
 '횡성']
192

In [16]:
cb['ID'] = get_ID(cb)
print(np.sort(cb.ID.unique()))
cb_set = set(cb.ID.unique())
print(len(cb_set))

['경주' '고양 덕양' '고양 일산동' '고양 일산서' '광명' '광주 남구' '광주 동구' '광주 서구' '구미' '군포'
 '금산' '김포' '김해' '남양주' '대구 수성' '대구 중구' '대전 서구' '대전 유성' '동해' '부산 강서' '부산 기장'
 '부산 동구' '부산 부산진' '부산 북구' '부산 수영' '부산 중구' '부산 해운대' '부천' '상주' '서울 강남'
 '서울 강동' '서울 강북' '서울 강서' '서울 관악' '서울 광진' '서울 구로' '서울 금천' '서울 노원' '서울 동대문'
 '서울 동작' '서울 마포' '서울 서대문' '서울 서초' '서울 성동' '서울 성북' '서울 송파' '서울 양천' '서울 영등포'
 '서울 용산' '서울 은평' '서울 종로' '서울 중구' '서울 중랑' '성남 분당' '성남 수정' '성남 중원' '수원 권선'
 '수원 영통' '수원 장안' '수원 팔달' '안양 동안' '안양 만안' '여주' '연천' '영덕' '용인 기흥' '용인 수지'
 '울산 남구' '울산 중구' '울진' '원주' '이천' '인천 남동' '인천 부평' '인천 연수' '인천 중구' '전주 완산'
 '제주' '제천' '진주' '창원 성산' '창원 의창' '창원 진해' '창원 합포' '천안 동남' '청주 상당' '청주 흥덕'
 '통영' '파주' '평택' '포항 북구' '하남' '함안' '해남' '화성']
95

In [15]:
ed['ID'] = get_ID(ed)
print(np.sort(ed.ID.unique()))
ed_set = set(ed.ID.unique())
print(len(ed_set))

['가평' '강릉' '강진' '거제' '거창' '경산' '경주' '고령' '고성(경남)' '고양 덕양' '고양 일산동'
 '고양 일산서' '고창' '고흥' '곡성' '공주' '과천' '광명' '광양' '광주' '광주 광산' '광주 남구' '광주 동구'
 '광주 북구' '광주 서구' '괴산' '구례' '구리' '구미' '군산' '군포' '금산' '김제' '김천' '김포' '김해'
 '나주' '남양주' '남원' '남해' '논산' '단양' '담양' '당진' '대구 남구' '대구 달서' '대구 달성' '대구 동구'
 '대구 북구' '대구 서구' '대구 수성' '대구 중구' '대전 대덕' '대전 동구' '대전 서구' '대전 유성' '대전 중구'
 '동두천' '동해' '목포' '무안' '무주' '문경' '밀양' '보령' '보은' '부산 강서' '부산 금정' '부산 기장'
 '부산 남구' '부산 동구' '부산 동래' '부산 부산진' '부산 북구' '부산 사상' '부산 사하' '부산 서구' '부산 수영'
 '부산 연제' '부산 영도' '부산 중구' '부산 해운대' '부안' '부여' '부천' '사천' '산청' '삼척' '상주' '서귀포'
 '서산' '서울 강남' '서울 강동' '서울 강북' '서울 강서' '서울 관악' '서울 광진' '서울 구로' '서울 금천'
 '서울 노원' '서울 도봉' '서울 동대문' '서울 동작' '서울 마포' '서울 서대문' '서울 서초' '서울 성동' '서울 성북'
 '서울 송파' '서울 양천' '서울 영등포' '서울 용산' '서울 은평' '서울 종로' '서울 중구' '서울 중랑' '서천'
 '성남 분당' '성남 수정' '성남 중원' '성주' '세종' '속초' '수원 권선' '수원 영통' '수원 장안' '수원 팔달'
 '순창' '순천' '시흥' '아산' '안동' '안산 단원' '안산 상록' '안성' '안양 동안' '안양 만안' '양구' '양산'
 '양양' '양주' '양평' '여수' '여주' '연천' '영광' '영덕' '영동' '영암' '영월' '영주' '영천' '예산'
 '예천' '오산' '옥천' '완도' '완주' '용인 기흥' '용인 수지' '용인 처인' '울산 남구' '울산 동구' '울산 북구'
 '울산 울주' '울산 중구' '울진' '원주' '음성' '의왕' '의정부' '이천' '익산' '인제' '인천 강화' '인천 계양'
 '인천 남동' '인천 동구' '인천 미추홀' '인천 부평' '인천 서구' '인천 연수' '인천 옹진' '인천 중구' '임실'
 '장성' '장수' '장흥' '전주 덕진' '전주 완산' '정선' '정읍' '제주' '제천' '증평' '진안' '진주' '진천'
 '창녕' '창원 성산' '창원 의창' '창원 진해' '창원 합포' '창원 회원' '천안 동남' '천안 서북' '철원' '청도'
 '청송' '청주 상당' '청주 서원' '청주 청원' '청주 흥덕' '춘천' '충주' '칠곡' '태백' '태안' '통영' '파주'
 '평창' '평택' '포천' '포항 남구' '포항 북구' '하남' '함안' '함양' '합천' '해남' '홍성' '홍천' '화성'
 '화순' '화천' '횡성']
236

In [14]:
bd['ID'] = get_ID(bd)
print(np.sort(bd.ID.unique()))
bd_set = set(bd.ID.unique())
print(len(bd_set))

['강릉' '거창' '경산' '경주' '고성(경남)' '고양 덕양' '고양 일산동' '고양 일산서' '고창' '공주' '광명'
 '광양' '광주' '광주 광산' '광주 남구' '광주 동구' '광주 북구' '광주 서구' '구리' '구미' '군산' '군포'
 '김제' '김포' '김해' '남양주' '남원' '논산' '당진' '대구 달서' '대구 달성' '대구 동구' '대구 북구'
 '대구 서구' '대구 수성' '대구 중구' '대전 대덕' '대전 동구' '대전 서구' '대전 유성' '대전 중구' '동두천'
 '동해' '목포' '무안' '문경' '보령' '부산 금정' '부산 남구' '부산 동래' '부산 부산진' '부산 북구' '부산 사하'
 '부산 중구' '부산 해운대' '부안' '부천' '삼척' '서귀포' '서산' '서울 강남' '서울 강동' '서울 강북'
 '서울 강서' '서울 관악' '서울 광진' '서울 구로' '서울 금천' '서울 노원' '서울 도봉' '서울 동대문' '서울 동작'
 '서울 마포' '서울 서대문' '서울 서초' '서울 성동' '서울 성북' '서울 송파' '서울 영등포' '서울 용산' '서울 은평'
 '서울 종로' '서울 중구' '서울 중랑' '성남 분당' '성남 수정' '성남 중원' '세종' '수원 권선' '수원 영통'
 '수원 장안' '수원 팔달' '순천' '시흥' '아산' '안동' '안산 단원' '안산 상록' '안양 동안' '안양 만안' '양산'
 '양주' '양평' '여수' '영동' '영암' '영주' '예산' '예천' '오산' '옥천' '용인 기흥' '용인 수지' '용인 처인'
 '울산 남구' '울산 동구' '울산 북구' '울진' '원주' '의왕' '의정부' '이천' '익산' '인천 강화' '인천 계양'
 '인천 남동' '인천 동구' '인천 미추홀' '인천 부평' '인천 서구' '인천 연수' '인천 중구' '전주 덕진' '전주 완산'
 '정읍' '제주' '증평' '진안' '진주' '진천' '창원 성산' '창원 의창' '창원 합포' '천안 동남' '천안 서북'
 '청주 상당' '청주 서원' '청주 청원' '청주 흥덕' '춘천' '충주' '칠곡' '태안' '통영' '파주' '평택' '포천'
 '포항 남구' '포항 북구' '하남' '하동' '함양' '홍성' '홍천' '화성' '화순' '화천']
167

In [ ]:
all_data = pd.DataFrame()

for file in glob(f'{data_folder}/*.csv'):
    df = pd.read_csv(file)
    all_data = pd.concat([all_data, df])

all_data.head()

           상호명        지점명  시도명 시군구명                   도로명주소
0   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
1         스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
2  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
3         스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
4  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [ ]:
all_data.head()

           상호명        지점명  시도명 시군구명                   도로명주소
0   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시      강원도 강릉시 창해로14번길 40
1         스타벅스  대명델피노리조트점  강원도  고성군  강원도 고성군 토성면 미시령옛길 1153
2  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시         강원도 춘천시 후석로 318
3         스타벅스      춘천명동점  강원도  춘천시          강원도 춘천시 중앙로 55
4  스타벅스설악워터피아점    설악워터피아점  강원도  속초시   강원도 속초시 미시령로2983번길 88

In [ ]:
all_data =all.reset_index()

In [ ]:
all_data['상호명'][1]

'스타벅스'

In [ ]:
 
print(len(all_data.시도명.unique()))
all_data.시도명.unique()

17

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [ ]:
print(len(all_data))
print(len(all_data.시군구명.unique()))
all_data.시군구명.unique()

4569
223

array(['강릉시', '고성군', '춘천시', '속초시', '원주시', '평창군', '태백시', '인제군', '동해시',
       '홍천군', '횡성군', '성남시 분당구', '용인시 기흥구', '화성시', '수원시 팔달구', '고양시 일산동구',
       '김포시', '수원시', '파주시', '이천시', '광명시', '부천시', '안산시', '고양시 일산서구',
       '수원시 영통구', '안산시 상록구', '군포시', '포천시', '평택시', '의정부시', '고양시 덕양구',
       '남양주시', '용인시 처인구', '하남시', '동두천시', '과천시', '시흥시', '광주시', '의왕시',
       '안성시', '오산시', '양주시', '안양시 동안구', '양평군', '용인시 수지구', '수원시 장안구',
       '안양시 만안구', '수원시 권선구', '성남시 중원구', '성남시 수정구', '여주시', '안산시 단원구',
       '용인시', '구리시', '가평군', '진주시', '거제시', '김해시', '창원시 마산합포구', '창원시 성산구',
       '양산시', '창원시 의창구', '산청군', '사천시', '밀양시', '창원시 진해구', '창원시 마산회원구',
       '하동군', '창녕군', '함양군', '통영시', '구미시', '포항시 북구', '포항시 남구', '김천시',
       '영양군', '청도군', '고령군', '안동시', '경주시', '경산시', '영덕군', '문경시', '청송군',
       '서구', '동구', '광산구', '북구', '남구', '수성구', '달서구', '중구', '달성군', '유성구',
       '대덕구', '연제구', '사하구', '부산진구', '동래구', '해운대구', '사상구', '금정구', '강서구',
       '기장군', '수영구', '영도구', '종로구', '서초구', '영등포구', '강남구', '강북구', '중랑구',
       '마포구', '은평구', '구로구', '성북구', '용산구', '관악구', '동작구', '서대문구', '강동구',
       '광진구', '양천구', '송파구', '노원구', '성동구', '동대문구', '금천구', '도봉구', '세종특별자치시',
       '울주군', '부평구', '연수구', '미추홀구', '남동구', '계양구', '옹진군', '강화군', '여수시',
       '순천시', '목포시', '광양시', '나주시', '무안군', '전주시 완산구', '군산시', '전주시 덕진구',
       '익산시', '임실군', '부안군', '고창군', '서귀포시', '제주시', '천안시 서북구', '천안시 동남구',
       '공주시', '보령시', '당진시', '아산시', '서산시', '서천군', '논산시', '예산군', '청양군',
       '계룡시', '청주시 서원구', '청주시 흥덕구', '청주시 청원구', '청주시 상당구', '충주시', '증평군',
       '음성군', '보은군', '제천시', '연천군', '함안군', '창원시', '상주시', '울진군', '해남군',
       '금산군', '정선군', '철원군', '화천군', '양구군', '삼척시', '양양군', '영월군', '거창군',
       '남해군', '합천군', '칠곡군', '영주시', '성주군', '영천시', '예천군', '장흥군', '영광군',
       '고흥군', '영암군', '강진군', '완도군', '곡성군', '장성군', '담양군', '구례군', '화순군',
       '김제시', '정읍시', '완주군', '진안군', '장수군', '남원시', '무주군', '순창군', '홍성군',
       '태안군', '부여군', '진천군', '단양군', '영동군', '괴산군', '옥천군'], dtype=object)

In [18]:
# 합집합
city_set = sb_set | ed_set | cb_set | bd_set

In [19]:
len(city_set)

241

In [20]:
# 차집합
sb_set - ed_set

{'계룡', '고성(강원)', '영양', '청양', '하동'}

In [21]:
sb[sb.ID.isin({'계룡', '고성(강원)', '영양', '청양', '하동'})]

              상호명        지점명   시도명 시군구명                   도로명주소      ID
1            스타벅스  대명델피노리조트점   강원도  고성군  강원도 고성군 토성면 미시령옛길 1153  고성(강원)
38           스타벅스        NaN   강원도  고성군      강원도 고성군 간성읍 간성로 36  고성(강원)
429          스타벅스        NaN  경상남도  하동군     경상남도 하동군 하동읍 중앙로 12      하동
464          스타벅스        NaN  경상북도  영양군   경상북도 영양군 석보면 원리길 11-3      영양
1512         스타벅스        NaN  충청남도  청양군  충청남도 청양군 청양읍 중앙로 116-1      청양
1513  스타벅스계룡대로DT점    계룡대로DT점  충청남도  계룡시      충청남도 계룡시 엄사면 번영로 6      계룡

In [22]:
bd[bd.ID.isin({'계룡', '고성(강원)', '영양', '청양', '하동'})]

     상호명  지점명   시도명 시군구명                  도로명주소  ID
209  빽다방  하동점  경상남도  하동군  경상남도 하동군 하동읍 경서대로 136  하동

 # 브랜드별 매장수 계산

In [24]:

pt_sb = sb.pivot_table('상호명', index='ID', aggfunc='count')
pt_sb.head()

    상호명
ID
가평    2
강릉    5
거제    6
경산    8
경주    8

In [25]:
sb[['상호명','ID']].groupby('ID').count().head()

    상호명
ID
가평    2
강릉    5
거제    6
경산    8
경주    8

In [26]:
pt_sb.columns = ['스타벅스']
pt_sb.reset_index(inplace=True)
pt_sb.head()

   ID  스타벅스
0  가평     2
1  강릉     5
2  거제     6
3  경산     8
4  경주     8

In [27]:
pt_cb = cb.pivot_table('상호명', index='ID', aggfunc='count')
pt_cb.columns = ['커피빈']
pt_cb.reset_index(inplace=True)
pt_cb.head()

       ID  커피빈
0      경주    2
1   고양 덕양    1
2  고양 일산동    5
3  고양 일산서    5
4      광명    1

In [28]:
pt_ed = ed.pivot_table('상호명', index='ID', aggfunc='count')
pt_ed.columns = ['이디야']
pt_ed.reset_index(inplace=True)
pt_ed.head()

   ID  이디야
0  가평    9
1  강릉   15
2  강진    1
3  거제    9
4  거창    1

In [29]:

pt_bd = bd.pivot_table('상호명', index='ID', aggfunc='count')
pt_bd.columns = ['빽다방']
pt_bd.reset_index(inplace=True)
pt_bd.head()

       ID  빽다방
0      강릉    2
1      거창    1
2      경산    4
3      경주    1
4  고성(경남)    2

# 커피샵 데이터 병합하고 커피 지수 구하기

In [36]:
cf = pd.merge(pt_ed, pt_sb, how='left')
cf = pd.merge(cf, pt_cb, how='left')
cf = pd.merge(cf, pt_bd, how='left')
len(cf)
cf.head()

   ID  이디야  스타벅스  커피빈  빽다방
0  가평    9   2.0  NaN  NaN
1  강릉   15   5.0  NaN  2.0
2  강진    1   NaN  NaN  NaN
3  거제    9   6.0  NaN  NaN
4  거창    1   NaN  NaN  1.0

In [37]:
cf.fillna(0, inplace=True)
cf.head()

   ID  이디야  스타벅스  커피빈  빽다방
0  가평    9   2.0  0.0  0.0
1  강릉   15   5.0  0.0  2.0
2  강진    1   0.0  0.0  0.0
3  거제    9   6.0  0.0  0.0
4  거창    1   0.0  0.0  1.0

In [38]:
cf['스타벅스']= cf.스타벅스.astype(int)
cf['이디야'] = cf.이디야.astype(int)
cf['커피빈'] = cf.커피빈.astype(int)
cf['빽다방'] = cf.빽다방.astype(int)

In [39]:
cf['커피지수'] = (cf.스타벅스 + cf.커피빈) / (cf.이디야 + cf.빽다방)
cf.head()

   ID  이디야  스타벅스  커피빈  빽다방      커피지수
0  가평    9     2    0    0  0.222222
1  강릉   15     5    0    2  0.294118
2  강진    1     0    0    0  0.000000
3  거제    9     6    0    0  0.666667
4  거창    1     0    0    1  0.000000

In [41]:
cf.to_csv(f'{data_folder}/커피지수.csv', index=False)