# MySQL

In [1]:
!pip install pymysql > /dev/null

In [2]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving mysql.json to mysql.json

In [3]:
import json 
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [4]:
import pymysql 
conn = pymysql.connect(
     host = config['host'],
     user = config['user'],
     password = config['password'],
     database = config['database'],
     port = config['port'])

## 테이블 생성

In [8]:
cur = conn.cursor()
sql_create_table = '''
create table if not exists users (
 uid varchar(20) not null primary key,
 pwd char(44) not null,
 uname varchar(20) not null,
 email varchar(40),
 reg_date datetime default current_timestamp,
 is_deleted int default 0
  );
'''

In [9]:
cur.execute(sql_create_table)

0

## 데이터 추가

In [10]:
cur = conn.cursor()
sql_insert = "INSERT INTO users(uid,pwd, uname) VALUES('admin', '1234', '관리자') "
cur.execute(sql_insert)

1

In [11]:
sql_select = 'select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 4, 32, 26), 0)

In [12]:
# 데이터를 하드디스크에 쓰게 하는 명령 데이터를 작성하면 mysql 캐시에 임시저장상태로 서버에 직접반영은 안됨
#따라서 데이터를 하드 디스크에 쓰게 하는 명령어를 입력해야함
conn.commit()

## 여러건의 데이터 추가

In [19]:
sql_multi_insert = """ 
  INSERT INTO users(uid, pwd, uname) VALUES
  ('eskim', '1234', '김은숙'), ('wjlee', '1234', '이우정');
"""

In [20]:
cur.execute(sql_multi_insert)
conn.commit()

- Placeholder

In [21]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES (%s, 1234, %s);"
uid, unmae = 'djy', '대조영'
cur.execute(sql_insert_ph, (uid, unmae))
conn.commit()

- 여러거느이 데이터를 placeholder를 이용하여 insert

In [ ]:
users = (('gdhong', '홍길동'), ('jbpark','박재범'))
cur.executemany(sql_insert_ph, users)
conn.commit()

In [26]:
#강사가 추천하는 방법 for 문
users = (('gdhong2', '홍길동2'), ('jbpark2','박재범2'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

In [27]:
cur.close()
conn.close()