# 식신 - 양재역으로 검색
- 명칭, 주요메뉴, 평점, 전화번호, 주소

In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
from urllib.parse import quote #base 64 인코딩 한글로 전달

- 데이터 가져오기

In [4]:
base_url = 'https://www.siksinhot.com'
url = f'{base_url}/search?keywords={quote("양재역")}'
req = requests.get(url)
html = req.text

In [5]:
soup = BeautifulSoup(html, 'html.parser')

In [6]:
lis = soup.select('div.listTy1 > ul > li')
len(lis)

12

In [7]:
li = lis[0]
href = li.select_one('a')['href']

In [8]:
url = base_url + href
req = requests.get(url)
sub_soup = BeautifulSoup(req.text, 'html.parser')

In [9]:
#store
store = sub_soup.select_one('.title')
info = store.find('h3').get_text()

In [10]:
score = store.select_one('h3 > strong').string
score

'3.6'

In [11]:
info.find(score)

10

In [12]:
name = info[:info.find(score)] #사이트가 지저분해서 그냥 서브스트링으로 글자 분리함
name

'그릭슈바인 양재역점'

In [13]:
menue = sub_soup.select('.store_info p')[1].get_text()

In [14]:
tel = sub_soup.select_one('.p_tel p').get_text()
tel

#.select_one('a').get_text()

'02-572-6100'

In [15]:
addr = sub_soup.select_one('.txt_adr').string

In [27]:
name_list, score_list, tel_list, menu_list, addr_list =[], [], [], [], []
for li in lis:
    href = li.select_one('a')['href']
    url = base_url + href
    req = requests.get(url)
    sub_soup = BeautifulSoup(req.text, 'html.parser')
    store = sub_soup.select_one('.title')
    info = store.find('h3').get_text()
    score = store.select_one('h3 > strong').string
    name = info[:info.find(score)]
    menu = sub_soup.select('.store_info p')[1].get_text()
    tel = sub_soup.select_one('.p_tel p').get_text()
    addr = sub_soup.select_one('.txt_adr').string

    name_list.append(name)
    score_list.append(score)
    menu_list.append(menu)
    tel_list.append(tel)
    addr_list.append(addr)

TypeError: ignored

In [17]:
#에러가 난다면
name_list, score_list, tel_list, menu_list, addr_list =[], [], [], [], []
for i, li in enumerate(lis): 
    href = li.select_one('a')['href']
    url = base_url + href
    req = requests.get(url)
    sub_soup = BeautifulSoup(req.text, 'html.parser')
    
    try : 
        store = sub_soup.select_one('.title')
        info = store.find('h3').get_text()
        score = store.select_one('h3 > strong').string
        name = info[:info.find(score)]
        menue = sub_soup.select('.store_info p')[1].get_text()
        tel = sub_soup.select_one('.p_tel p').get_text()
        addr = sub_soup.select_one('.txt_adr').string
        name_list.append(name)
        score_list.append(score)
        menu_list.append(menu)
        tel_list.append(tel)
        addr_list.append(addr)
    except :
        print(i)

3
4

In [18]:
df = pd.DataFrame({
             '식당명' : name_list,
             '평점' : score_list,
             '메뉴' : menu_list,
             '전화번호' : tel_list,
             '주소' : addr_list
            

})

In [19]:
df

            식당명   평점        메뉴          전화번호                             주소
0    그릭슈바인 양재역점  3.6  한국음식 > 회   02-572-6100             서울특별시 서초구 강남대로 224
1   미스터브리즈 양재역점  3.4  한국음식 > 회   02-576-4333               서울 서초구 강남대로34길 6
2     동신참치 양재역점  3.0  한국음식 > 회   02-529-7130                서울 서초구 강남대로 213
3      영동족발 3호점  4.1  한국음식 > 회   02-575-0250        서울특별시 서초구 남부순환로 2628-18
4           황재벌  3.9  한국음식 > 회  02-3471-5454  서울특별시 서초구 남부순환로347길 42-4 신화빌딩
5  김영모과자점 도곡타워점  4.1  한국음식 > 회  02-3460-2005     서울특별시 강남구 언주로30길 10 현대비젼21
6        소호정 본점  4.0  한국음식 > 회   02-579-7282               서울특별시 서초구 논현로 27
7         산동칼국수  3.9  한국음식 > 회  02-3473-7972           서울특별시 서초구 강남대로37길 63
8        양재정육식당  4.1  한국음식 > 회   02-577-5804               서울 서초구 바우뫼로35길 3
9          스타쉐프  3.9  한국음식 > 회   02-529-8248          서울특별시 강남구 논현로38길 38-6

In [28]:
li = lis[1]
li.select_one('.store').string

'미스터브리즈 양재역점'

In [ ]:
li.select

In [ ]:
score = li.select_one('em').string

In [ ]:
# #contents > div > div > div.content > div.sec_left > div > div:nth-child(1) > div:nth-child(1) > p
menu = sub_soup.select('.store_info p')[1].get_text()
menu

In [ ]:
li.select_one('.cnt p').get_text()

In [ ]:

li = lis[3]
li.select_one('em').string

In [ ]:
lis[1].select_one('em').string

In [ ]:
score = li.select_one('em').string
if score == '평가중':
    score = '0'

In [29]:
name_list, score_list, menu_list, tel_list, addr_list = [],[],[],[],[]
for i, li in enumerate(lis):
    href = li.select_one('a')['href']
    name = li.select_one('.store').string
    score = li.select_one('em').string
    if score == '평가중':
        score = '0'
    menu = li.select_one('.cnt p').get_text()

    url = base_url + href
    req = requests.get(url)
    sub_soup = BeautifulSoup(req.text, 'html.parser')

    try:
        tel = sub_soup.select_one('.p_tel p').get_text()
        addr = sub_soup.select_one('.txt_adr').string

        name_list.append(name)
        score_list.append(float(score))
        menu_list.append(menu)
        tel_list.append(tel)
        addr_list.append(addr)
    except:
        print(i)

In [30]:
df = pd.DataFrame({
             '식당명' : name_list,
             '평점' : score_list,
             '메뉴' : menu_list,
             '전화번호' : tel_list,
             '주소' : addr_list
            

})

In [31]:
df

             식당명   평점  ...          전화번호                             주소
0     그릭슈바인 양재역점  3.6  ...   02-572-6100             서울특별시 서초구 강남대로 224
1    미스터브리즈 양재역점  3.4  ...   02-576-4333               서울 서초구 강남대로34길 6
2      동신참치 양재역점  3.0  ...   02-529-7130                서울 서초구 강남대로 213
3       새우닭 양재역점  0.0  ...   02-575-6088     서울특별시 서초구 남부순환로356길 52  1층
4       양재역 옛날짜장  0.0  ...  031-503-2550              경기도 시흥시 공단1대로 13
5       영동족발 3호점  4.1  ...   02-575-0250        서울특별시 서초구 남부순환로 2628-18
6            황재벌  3.9  ...  02-3471-5454  서울특별시 서초구 남부순환로347길 42-4 신화빌딩
7   김영모과자점 도곡타워점  4.1  ...  02-3460-2005     서울특별시 강남구 언주로30길 10 현대비젼21
8         소호정 본점  4.0  ...   02-579-7282               서울특별시 서초구 논현로 27
9          산동칼국수  3.9  ...  02-3473-7972           서울특별시 서초구 강남대로37길 63
10        양재정육식당  4.1  ...   02-577-5804               서울 서초구 바우뫼로35길 3
11          스타쉐프  3.9  ...   02-529-8248          서울특별시 강남구 논현로38길 38-6

[12 rows x 5 columns]