1. 자치구별로 공운 면적과 공운수를 집계하시오
2. 서울시 통계 를 화용하여 공운면적 비율과 인당 공운면적을 구하여 막대그래프로 표시하시오

In [ ]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')

In [68]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving 서울공원요약.csv to 서울공원요약 (1).csv

In [69]:
import numpy as np
import pandas as pd

In [70]:
df = pd.read_csv(filename)
df.head(1)

        공원명  지역          경도        위도       면적  분류  크기
0  남산도시자연공원  중구  126.990377  37.55014  2896887  대형  15

In [71]:
df.sort_values(by='지역')

                 공원명   지역          경도         위도       면적  분류  크기
129             율현공원  강남구  127.115594  37.472332   157535  중형   7
45            도산근린공원  강남구  127.035030  37.524675    29816  소형   3
63              봉은공원  강남구  127.055496  37.513903   328018  중형   7
44            도곡근린공원  강남구  127.045034  37.490313   254648  중형   7
120           광평근린공원  강남구  127.092184  37.488045   519782  중형   7
..               ...  ...         ...        ...      ...  ..  ..
124          나들이근린공원  중랑구  127.113261  37.605422    32000  소형   3
66           봉화산근린공원  중랑구  127.092362  37.610640  1018689  대형  15
126          서일대뒷산공원  중랑구  127.098782  37.587716   631021  중형   7
127  용마도시자연공원(사가정공원)  중랑구  127.095997  37.579762   109635  중형   7
92             중랑캠핑숲  중랑구  127.109307  37.604990   179666  중형   7

[130 rows x 7 columns]

In [72]:
df1 = df[['지역','면적']].groupby(['지역']).agg(['count', 'sum'])
df1.columns = ['공원수합계','면적합계']
df1.sort_values(by='공원수합계', ascending=False, inplace=True)
df1

      공원수합계      면적합계
지역
종로구      12   3907681
강서구       9   2194154
강남구       7   3626398
은평구       7   2986459
송파구       7   2838993
강동구       7   1526390
동작구       7   3706739
도봉구       6   1084218
서초구       6  13359636
중랑구       6   7078975
성동구       5    626839
양천구       5   1203428
영등포구      5    424446
마포구       5   2685112
동대문구      4    458664
금천구       4     57568
구로구       4   1617657
서대문구      4   3321477
강북구       4   3714902
중구        4   2943304
성북구       3   1198327
노원구       2  12024307
광진구       2    584002
관악구       2  10431453
용산구       2    247194
과천시       1   9132690

In [74]:
from google.colab import files
uploaded = files.upload()
people = list(uploaded.keys())[0]

Saving 2020seoulpeople.txt to 2020seoulpeople (1).txt

In [75]:
file = pd.read_csv(people, delimiter = '\t')
file.head(2)

     기간   지역         인구      면적 인구밀도(명/㎢)
0  2020   합계  9,911,088  605.23    16,376
1  2020  종로구    158,996   23.91     6,649

In [ ]:
file.drop(index=0, inplace=True) #인플레이스해야 적용됨

In [92]:
file.set_index

In [96]:
df = df.join(file[['인구','면적']]) #pd.merge(df1, file[['인구,'면적]])
df.head()

     공원수합계     면적합계
지역
종로구     12  3907681

In [97]:
df['면적'] = df.면적 * 1000000
df['인구'] = df.인구.apply(lambda x: int(x.replace(',','')))
df.head()

                 공원명   지역          경도         위도            면적  분류  크기
0           남산도시자연공원   중구  126.990377  37.550140  289688700000  대형  15
1             길동생태공원  강동구  127.154779  37.540394    8068300000  소형   3
2              서울대공원  과천시  127.019846  37.426449  913269000000  대형  15
3                서울숲  성동구  127.041798  37.543072   48099400000  중형   7
4              월드컵공원  마포구  126.878907  37.571805  228408500000  대형  15
..               ...  ...         ...        ...           ...  ..  ..
125           숭인근린공원  종로구  127.017827  37.576442    4561500000  소형   3
126          서일대뒷산공원  중랑구  127.098782  37.587716   63102100000  중형   7
127  용마도시자연공원(사가정공원)  중랑구  127.095997  37.579762   10963500000  중형   7
128           문화비축기지  마포구  126.893246  37.571718   14002200000  중형   7
129             율현공원  강남구  127.115594  37.472332   15753500000  중형   7

[130 rows x 7 columns]

In [ ]:

df['면적비율'] = df.공원면적 / df.면적 * 100
df['인당면적'] = df.공원면적 / df.인구
df.head()

자치구별 공원면적 비율

In [ ]:
df.면적비율.sort_values().plot(kind='barh', grid=True, figsize=(12,8))
plt.title('자치구별 공원면적 비율(%)', size=15)
plt.show()

In [ ]:
plt.figure(figsize=(12,8))
order = df.면적비율.sort_values(ascending=False).index
sns.barplot(x='면적비율', y=df.index, data=df, order=order)
plt.grid()
plt.title('자치구별 공원면적 비율(%)', size=15)
plt.show()

인당 공원면적

In [ ]:
:
df.인당면적.sort_values().plot(kind='barh', grid=True, figsize=(12,8))
plt.title('자치구별 인당 공원면적', size=15)
plt.show()

In [ ]:

plt.figure(figsize=(12,8))
order = df.인당면적.sort_values(ascending=False).index
sns.barplot(x='인당면적', y=df.index, data=df, order=order)
plt.grid()
plt.title('자치구별 인당 공원면적', size=15)
plt.show()

In [98]:
df.to_csv('자치구별 공원 현황.csv')     # index=False 가 아님 false로 하면 다음에 인덱스가 이상해짐 인덱스를 같이 저장해야 함