
# 서울시 공원 시각화

In [134]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving 서울시주요공원현황.csv to 서울시주요공원현황 (1).csv

In [135]:
import numpy as np
import pandas as pd
import folium

In [136]:
df = pd.read_csv(filename, encoding='EUC-KR')
df.head(1)

   연번       공원명  ... Y좌표(WGS84)                                             바로가기
0   1  남산도시자연공원  ...   37.55014  http://parks.seoul.go.kr/template/sub/namsan.do

[1 rows x 20 columns]


## 1. 공원 면적 정리

In [137]:
area = df.면적.astype(str).apply(lambda x: x.strip('총 ').split()[0])
area[-5:]

127    109635㎡
128    140022㎡
129    211392㎡
130    157535㎡
131        nan
Name: 면적, dtype: object

In [138]:
area[(area == 'nan') | (area == '휴양')]

6       휴양
109    nan
119    nan
131    nan
Name: 면적, dtype: object

In [139]:
area[(area == 'nan') | (area == '휴양')] = '0㎡'
area[-5:]

127    109635㎡
128    140022㎡
129    211392㎡
130    157535㎡
131         0㎡
Name: 면적, dtype: object

In [140]:
import re
area = area.apply(lambda x: float(re.sub('[㎡m²㎥]','',x)))

In [141]:
area = area.apply(lambda x: int(np.round(x)))

In [142]:
area_criteria = [-1, 100000, 1000000, 12000000]
labels = ['소형', '중형', '대형']
size_info = [3, 7, 15]
scale = pd.cut(area, area_criteria, labels=labels)
size = pd.cut(area, area_criteria, labels=size_info)
scale[:5]

0    대형
1    소형
2    대형
3    중형
4    대형
Name: 면적, dtype: category
Categories (3, object): ['소형' < '중형' < '대형']

In [143]:
size[:5]

0    15
1     3
2    15
3     7
4    15
Name: 면적, dtype: category
Categories (3, int64): [3 < 7 < 15]


## 3. 새로운 데이터 프레임 만들고 저장

In [144]:
df = df[['공원명','지역','X좌표(WGS84)','Y좌표(WGS84)']]
df.columns = ['공원명','지역','경도','위도']
df['면적'] = area
df['분류'] = scale
df['크기'] = size
df.head()

        공원명   지역          경도         위도       면적  분류  크기
0  남산도시자연공원   중구  126.990377  37.550140  2896887  대형  15
1    길동생태공원  강동구  127.154779  37.540394    80683  소형   3
2     서울대공원  과천시  127.019847  37.426449  9132690  대형  15
3       서울숲  성동구  127.041798  37.543072   480994  중형   7
4     월드컵공원  마포구  126.878907  37.571805  2284085  대형  15

In [145]:
df.isnull().sum()

공원명    0
지역     1
경도     1
위도     1
면적     0
분류     0
크기     0
dtype: int64

In [146]:
df[df.경도.isna()]

         공원명  지역  경도  위도  면적  분류 크기
131  서울로7017  중구 NaN NaN   0  소형  3

In [148]:
df = df.dropna()

In [149]:
df.to_csv('서울공원요약.csv', index=False)

## 4. 공원 시각화

In [ ]:

map = folium.Map(location=[37.5502, 126.982], zoom_start=11)
for i in df.index:
    folium.CircleMarker([df.위도[i], df.경도[i]], 
                        radius=int(df.크기[i]),
                        tooltip=f"{df.공원명[i]}({df.면적[i]:,d}㎡)",
                        color='crimson', fill_color='crimson').add_to(map)
title_html = '<h3 align="center" style="font-size:20px"><b>서울시내 공원 위치와 크기</b></h3>'   
map.get_root().html.add_child(folium.Element(title_html))
map

In [ ]:
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles='Stamen Toner')
for i in df.index:
    folium.CircleMarker([df.위도[i], df.경도[i]], 
                        radius=int(df.크기[i]),
                        tooltip=f"{df.공원명[i]}({df.면적[i]:,d}㎡)",
                        color='green', fill_color='green').add_to(map)
title_html = '<h3 align="center" style="font-size:20px"><b>서울시내 공원 위치와 크기</b></h3>'   
map.get_root().html.add_child(folium.Element(title_html))
map