#Pandas-Series

In [30]:
import numpy as np
import pandas as pd

##시리즈생성

In [5]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [33]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [10]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [11]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [12]:
s.name = '인구'
s.index.name = '도시'

In [14]:
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

##시리즈의 연산

In [16]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

##시리즈인덱싱

In [38]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [18]:
#fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [19]:
#slicing
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [21]:
#인덱스로 슬라이싱 하면 마지막(대구)도 포함)
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [34]:
# 필터링 
s[(250e4 < s) & (s < 500e4)]

부산    3448737
인천    2890451
dtype: int32

In [36]:
 s[(250e4 < s) | (s < 500e4)]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

##시리즈와 딕셔너리

In [39]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [41]:
'서울' in s, '대전' in s2, '대구' in s2

(True, True, False)

## 인덱스 기반 연산

In [42]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [55]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [56]:
#인구증가율
rs = (s-s2)/s2 * 100
rs.notnull

<bound method Series.notnull of 대구         NaN
대전         NaN
부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64>

In [57]:
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

##데이터의 갱신추가 삭제

In [50]:
#갱신
rs['부산'] = 1.63000

In [58]:
#추가
rs['대구'] = 1.41

In [59]:
#삭제
del rs['부산']

In [60]:
rs

서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64