#데이터 프레임 고급인덱싱

In [6]:
import pandas as pd
import numpy as np

## Ioc 인덱서

In [9]:
# df.loc['행','열']
# df.iloc

df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

1개만 있으면 행인덱싱

In [10]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [11]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [12]:
df.loc[['x','z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [13]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [15]:
# Boolean indexing
df.loc[df['A'] > 15]

    A   B   C   D
z  18  19  20  21

##인덱서 2개를 받는 경우

In [16]:
df.loc['x', 'A']

10

In [17]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

In [19]:
df.loc[df.A > 10, 'A' ]

y    14
z    18
Name: A, dtype: int64

iloc 인덱서

In [20]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

###연급문제 4.3.1

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5,5)
                  index= = ['a','b','c','d','e'],
                   colums= ['v'])

In [ ]:
#12
df['x']['c'],df.x['c'], df.x[2], df.x.c

In [ ]:
df