In [ ]:
import pandas as pd
import numpy as np

np.random.seed(88)
df = pd.DataFrame({'A':np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))], axis=1)
df

      A         B         C         D         E
0   1.0  0.106884  2.205815  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133 -0.951133  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [ ]:
df.iloc[3,3] = np.nan
df.iloc[0,2] = np.nan
df

      A         B         C         D         E
0   1.0  0.106884       NaN  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133       NaN  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

In [ ]:
df.style.highlight_max(color='green').highlight_min(color='pink')

In [ ]:
from functools import wraps

def para(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        return "<p>"+str(func(*args, **kwargs))+"<p>"
    return wrapper

@para
def outname(name):
    return  'Name :' + name

@para
def outage(age):
    return 'Age : ' + age

In [ ]:
print(outname('Jamses Bond'))
print(outname.__name__)

print(outage('29'))
print(outage.__name__)

<p>Name :Jamses Bond<p>
outname
<p>Age : 29<p>
outage

In [ ]:
def plus(x, y):
    return x+y
def minus(x, y):
    return x-y
def multiply(x, y):
    return x*y
def divide(x, y):
    return x/y

In [ ]:
def dispatch_if(operator, x, y):
    if operator == 'add':
        return plus(x, y)
    elif operator == 'minus':
        return minus(x, y)
    elif operator == 'mul':
        return multiply(x, y)
    elif operator == 'div':
        return divide(x, y)

In [ ]:
func_dict = {
    'add' : plus,
    'sub' :minus,
    'mul' : multiply,
    'div' : divide
}

def default_op(x,y):
    return None

def dispatch_dict(operator, x, y):
    return func_dict.get(operator, default_op)(x, y)