In [ ]:
from sklearn.datasets import load_iris

In [ ]:
load_iris??

In [ ]:
data = load_iris()

In [ ]:
dir(data)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [ ]:
from sklearn.preprocessing import scale, robust_scale, minmax_scale, maxabs_scale
import numpy as np

In [ ]:
x = (np.arange(10, dtype=np.float) -3).reshape(-1,1)
x

array([[-3.],
       [-2.],
       [-1.],
       [ 0.],
       [ 1.],
       [ 2.],
       [ 3.],
       [ 4.],
       [ 5.],
       [ 6.]])

In [ ]:
import pandas as pd
 
df = pd.DataFrame(np.hstack([x, scale(x), robust_scale(x), minmax_scale(x), maxabs_scale(x)]), columns =['x', 'scale','robust_scale', 'minmax_scale','maxabs_scale'])
 
df

     x     scale  robust_scale  minmax_scale  maxabs_scale
0 -3.0 -1.566699     -1.000000      0.000000     -0.500000
1 -2.0 -1.218544     -0.777778      0.111111     -0.333333
2 -1.0 -0.870388     -0.555556      0.222222     -0.166667
3  0.0 -0.522233     -0.333333      0.333333      0.000000
4  1.0 -0.174078     -0.111111      0.444444      0.166667
5  2.0  0.174078      0.111111      0.555556      0.333333
6  3.0  0.522233      0.333333      0.666667      0.500000
7  4.0  0.870388      0.555556      0.777778      0.666667
8  5.0  1.218544      0.777778      0.888889      0.833333
9  6.0  1.566699      1.000000      1.000000      1.000000