In [1]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving weather.csv to weather.csv

In [19]:
import pandas as pd
data = pd.read_csv('weather.csv', sep=',')
data.head()

    outlook temperature humidity  windy play
0  overcast         hot     high  False  yes
1  overcast        cool   normal   True  yes
2  overcast        mild     high   True  yes
3  overcast         hot   normal  False  yes
4     rainy        mild     high  False  yes

In [20]:
from sklearn.naive_bayes import MultinomialNB
multinomial_model = MultinomialNB()
multinomial_model

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
#mapping dictionary 만들기
outlook_dic = {'overcast':0, 'rainy':1, 'sunny':2}
temperature_dic = {'cool':0, 'hot':1, 'mild':2}
humidity_dic = {'high':0, 'normal':1}
windy_dic = {False:0, True:1}

In [22]:
#map함수를 활용한 데이터 전처리
data['outlook'] = data['outlook'].map(outlook_dic)
data['temperature'] = data['temperature'].map(temperature_dic)
data['humidity'] = data['humidity'].map(humidity_dic)
data['windy'] = data['windy'].map(windy_dic)

In [23]:
data.head()

   outlook  temperature  humidity  windy play
0        0            1         0      0  yes
1        0            0         1      1  yes
2        0            2         0      1  yes
3        0            1         1      0  yes
4        1            2         0      0  yes

In [24]:
multinomial_model.fit(data.iloc[:, :4], data['play'])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
multinomial_model.predict([[1,2,0,1]])
#비오고 온도적당 습도높고 바람분다

array(['yes'], dtype='<U3')

In [26]:
multinomial_model.predict_proba([[1,2,0,1]])
#No일확률 , Yes일 확률

array([[0.46671078, 0.53328922]])

# IRIS 데이터로 나이브 베이지안 분류

In [27]:
from sklearn.datasets import load_iris
iris = load_iris()

In [28]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target

In [29]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [30]:
from sklearn.naive_bayes import  GaussianNB
gaussian_model = GaussianNB()

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris_df.iloc[:, :4], iris_df['species'], test_size = 0.3, random_state = 100)

In [32]:
gaussian_model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [33]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, gaussian_model.predict(X_test)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       0.91      0.91      0.91        11
           2       0.94      0.94      0.94        18

    accuracy                           0.96        45
   macro avg       0.95      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45

In [35]:
print(confusion_matrix(y_test, gaussian_model.predict(X_test)))

[[16  0  0]
 [ 0 10  1]
 [ 0  1 17]]